.carousel-img {
  height: 450px;
}
.team-title {
  text-align: center;
}
.little-description {
  font-size: 18px;
  text-align: center;
}
.team-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}
.member-name {
  font-size: 22px;
}
.social-icon:hover {
  animation: rotate 0.4s;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
